html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    /* font-family: Montserrat; */
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    background: rgb(6, 6, 32);
    background: linear-gradient(0deg, rgba(6, 6, 32, 1) 0%, rgba(19, 45, 106, 1) 100%);
}

.contenedor {
    display: grid;
    column-gap: 1rem;

    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    width: 120rem;
    height: 100%;

}

.reloj-principal {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;

    justify-content: center;
    width: 60rem;
    height: 20rem;
    border-radius: 10px;
    grid-column: 2/3;
    -webkit-box-shadow: 4px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 6px 8px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}



.reloj-numeros {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 9rem;
    align-items: center;
}

.reloj-botones {
    display: flex;
    margin-top: 3.5rem;
    justify-content: space-around;
    align-items: center;
}

.btn-reloj {
    border: 3px solid rgb(34, 33, 33);
    background-color: black;
    color: white;
    font-size: 2rem;
    width: 30%;
    height: 5rem;
    border-radius: 10px;
}

.btn-reloj:hover {
    cursor: pointer;
}

.btn-start {
    background-color: #2EBD59;
}


/* /////////////////////////////////////// */
.reloj {
    display: flex;
    background-color: black;
    border-radius: 0%;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;

}



.reloj-descripcion {
    display: flex;
}

.contenedor-btn {
    margin-top: 3rem;
    width: 120rem;
    max-width: 90%;
    display: flex;
    justify-content: center;
}