body{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    
  
  
}


    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
      
      .card-img-top {
        width: 100%;
        height: 200px ;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
      }

      
   
  