body {
    background-color: #f9f7f8;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background-color: #3f72af;
}

.nav-link, .navbar-brand, .fa-chevron-circle-down {
    color: #f9f7f8;
}

.nav-link:hover, .navbar-brand:hover {
    color: #112d4e;
}

.img-fluid, .text {
    border-radius: 4px;
}