html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #1B1E59;
}

main {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container {
  background-color: aqua;
  width: 80rem;
  height: 50rem;
  display: flex;
}

.container_login {
    background-color: #ffffff;
    width: 50%;
    height: 100%;
}

.container_form {
  width: 100%;
  height: auto;
}

.container_form input {
  width: 35rem;
  height: 4rem;
  display: block;
  margin: 0rem 0rem 1rem 2rem;
  border: 2px solid #202473;
  border-radius: 4px;
}

.check {
  margin-left: 3rem;
}

.label-check, .forgot-password {
  font-size: 1vw;
}

.btn-login {
  width: 35rem;
  height: auto;
  padding: 1rem;
  margin: 1rem 0rem 1rem 2rem;
  background-color: #1B1E59;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-login:hover {
  transform: scale(1.05, 1.05);
}

.forgot-password {
  margin-left: 10rem;
  text-decoration: none;
}

.container_img {
    background-color: #C4DDF2;
    width: 50%;
    height: 100%;
}

.img-logo {
  width: 100%;
  padding: 20px;
}
