html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: 100vh;
  width: 100%;
  margin: 0;
}
main{
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contenedor {
  background-color: aqua;
  width: 80rem;
  height: 50rem;
  display: flex;

  

}
.registro{
    background-color: blueviolet;
    width: 50%;
    height: 100%;

}

.imagen{
    background-color: brown;
    width: 50%;
    height: 100%;
}