html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: linear-gradient(to right, #1CB5E0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 16px;
  width: 80rem;
  height: 50rem;
  display: flex;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 0);
}

.img-logo {
  width: 100%;
  padding: 20px;
}

.container_login {
  border-radius: 16px 0px 0px 16px;
  background-color: #ffffff;
  width: 50%;
  height: 100%;
}

.container_form {
  width: 100%;
  height: auto;
}

.container_form input {
  width: 35rem;
  height: 4rem;
  display: block;
  padding: 1rem;
  margin: 0rem 0rem 1rem 2rem;
  border: 2px solid #202473;
  border-radius: 4px;
}

.check {
  margin-left: 2rem;
}

.label-check,
.forgot-password {
  font-size: 1vw;
}

.btn-signin,
.btn-signup {
  width: 35rem;
  height: auto;
  padding: 1rem;
  margin: 1rem 0rem 1rem 2rem;
  background-color: #1B1E59;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-signup:hover,
.btn-signin:hover {
  transform: scale(1.05, 1.05);
}

.forgot-password {
  margin-left: 9rem;
  text-decoration: none;
}

.container_img {
  border-radius: 0px 16px 16px 0px;
  background-color: #C4DDF2;
  width: 50%;
  height: 100%;
}

.logo {
  margin-left: -1rem;
  width: 45rem;
  height: 45rem;
}


.inputErroneo input {
  border: 2px solid red;

}