html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* background-size: 400% 400%; */
    position: relative;
    /* animation: change 10s ease-in-out infinite; */
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.filtro {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(243, 243, 243, 0.2);
    /* filter: blur(2px); */
}

.header {
    height: 10rem;
    display: flex;
    justify-content: center;
    /* background-color: #009882; */
    -webkit-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.69);
    box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.69);
}

.header_Login {
    height: 10rem;
    display: flex;
    justify-content: center;
    /* background-color: #009882; */
    -webkit-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.69);
    box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.69);
}

.contenedor-grande {
    width: 90%;
    /* background-color: #009882; */
    height: 100%;
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.contenedor-grande h1 {
    font-size: 3rem;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barra-principal {
    display: flex;
    display: none;
}

.barra-principal li {
    margin-right: 3rem;
    font-size: 2rem;
}

.LtoR {
    position: relative;
}

.LtoR::before {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
}

.LtoR:hover::before {
    width: 100%;
}

.barra-login {
    border: 2px solid white;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}

.barra-login:hover {
    background-color: white;
    color: black;
}

@media (min-width: 740px) {
    .contenedor-mediano {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        -webkit-box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 0.75);
        margin: 13rem 3rem;
    }

    .barra-principal {
        display: flex;
    }
}

.card {
    width: 20rem;
    height: 20rem;
    background-color: #009882;
}